<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blogs</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <!-- custom CSS -->
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
      <div class="container">
        <a class="navbar-brand" href="#">Navbar</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/blogs">Blogs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/blogs/new">Create New Blog</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <h1>All Blogs</h1>

      <% for(let blog of blogs) {%>
      <div class="blog">
        <div class="img-div">
          <img src="<%= blog.image %> " alt="" />
        </div>
        <h3><%= blog.title %></h3>
        <p><%= blog.description %></p>
        <a href="/blogs/<%= blog.id %>/edit" class="btn btn-success"
          >Edit Blog</a
        >
        <a href="/blogs/<%= blog.id %>" class="btn btn-warning">Show Details</a>

        <form
          style="display: inline-block"
          action="/blogs/<%= blog.id %>?_method=delete"
          method="POST">
          <button class="btn btn-danger">Delete</button>
        </form>
      </div>
      <% } %>
    </div>

    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
